/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
}

#canvas-container {
    width: 100%;
    height: 600px;
}

.stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    gap: 0.5rem;
}

#center {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    gap: 1rem;
}
